<div id="searchbox" class="form-control"
  mentio ng-model="categorySearch"
  mentio-typed-term="typedTerm"
  mentio-require-leading-space="true"
  mentio-trigger-char="'#'"
  mentio-items="filteredCategories"
  mentio-search="searchCategory(term)"
  mentio-select="selectCategory(item)"
  mentio-select-not-found="true"
  mentio-template-url="app/common/directive-category-manager/category-manager-menu.html"
  contenteditable="true">
</div>
<div class="category-box">
  <span class="label label-primary category" ng-repeat="category in selectedCategories">
    <span class="glyphicon glyphicon-remove" ng-click="deselectCategory(category)"></span>
    {{category.name}}
  </span>
</div>