.category-box {
  height: 27px;
  margin-top: 5px;
  padding: 0 4px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

span.category .glyphicon {
  vertical-align: bottom;
}