<style>
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow: auto;
}

.menu-highlighted {
    font-weight: bold;
}
</style>
<ul class="dropdown-menu scrollable-menu" style="display:block">
    <li mentio-menu-item="item" ng-repeat="item in items track by $index">
        <a class="text-primary" ng-bind-html="item.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></a>
    </li>
</ul>