<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{appUrl}}">{{appName}}</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/dashboard">Dashboard</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="logout">
        <a href="#/posts/new" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Post</a>
        <button ng-click="logout()" class="btn btn-default">Logout</button>
      </form>
    </div>
  </div>
</nav>
<alert type="{{alert.type}}" class="alert-dismissible" ng-show="alert">
  {{alert.message}}
</alert>