
<div>
  <!-- comments -->
</div>
<div class="col-md-6">
  <h2>Posts</h2>
  <!-- search box -->
  <div dir-paginate="post in posts | itemsPerPage: $root.postsPerPage" total-items="$root.totalPosts">
    <div class="row">
      <div class="col-xs-10">
        <a href="#/posts/{{post.id}}"><h3>{{post.title}}</h3></a>
        <category-display></category-display>
        <p>Created {{post.updated_at}}</p>
        <p>{{post.preview}}</p>
      </div>
      <div class="col-xs-2">
        <a class="btn btn-default" href="#/posts/{{post.id}}/edit">Edit</a>
        <a class="btn btn-danger" ng-click="confirmClick() && deletePost(post, $index)" confirm-click>Delete</a>
      </div>
    </div>
  </div>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
<div class="col-md-6">
  <h2>Comments</h2>
</div>