.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.glyphicon {
  vertical-align: text-bottom;
}
// injector
@import 'common/directive-category-display/category-display.scss';
@import 'common/directive-category-manager/category-manager.scss';
@import 'common/directive-login-dialog/login-dialog.scss';
@import 'components/posts/posts.scss';
// endinjector
