<div ng-if="visible" ng-class="{'login-dialog-modal': modal}">
  <div id="login-form" class="col-md-4 col-md-offset-4 text-center jumbotron">
    <h4>Login</h4>
    <form ng-submit="login(credentials)">
      <div class="form-group">
        <input id="username" type="text" ng-model="credentials.username" placeholder="Username"/>
      </div>
      <div class="form-group">
        <input id="password" type="password" ng-model="credentials.password" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <alert type="{{alert.type}}" class="alert-dismissible" ng-show="alert">
      {{alert.message}}
    </alert>
  </div>
</div>  