#login-form {
   margin-top: 100px;
}

.login-dialog-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal-no-scroll {
  overflow: hidden;
}