<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Title</label>
  <div class="col-sm-10">
    <input type="text" ng-model="post.title" class="form-control" id="title" placeholder="Post Title Here"/>
  </div>
</div>
<div class="form-group">
  <label for="categories" class="col-sm-2 control-label">Categories</label>
  <div class="col-sm-10">
    <category-manager></category-manager>
  </div>
</div>
<div class="form-group">
  <label for="content" class="col-sm-2 control-label">Content</label>
  <div class="col-sm-10">
    <textarea ng-model="post.content" class="form-control" id="content" placeholder="Post Content Here"/>
  </div>
</div>