<form class="form-horizontal" role="form" ng-submit="addPost(post)">
  <div ng-include="'app/components/posts/_postform.html'"></div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
  </div>
</form>