<h1>{{post.title}}</h1>
<h4>Categories</h3>
<category-display></category-display>
<p>{{post.created_at}}</p>
<p>{{post.updated_at}}</p>
<p>url: http://geoffwhatley.com/blog/{{post.url}}</p>
<p></p>
<p>{{post.content}}</p>
<a class="btn btn-default" href="#/posts/{{post.id}}/edit">Edit</a>
<a class="btn btn-danger" ng-click="confirmClick() && deletePost()" confirm-click>Delete</a>