<!doctype html>
<html class="no-js" ng-app="admin">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:css({.tmp,src}) styles/vendor.css -->
    <link rel="stylesheet" href="admin/app/vendor.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    

    <!-- build:css({.tmp,src}) styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="app/index.css">
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="AppController">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrapper">
        <div class="container">
            <navbar ng-if="isAuthenticated()"></navbar>
            <div id="view" ui-view></div>
            <login-dialog ng-if="!isLoginPage" modal></login-dialog>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/ment.io/dist/mentio.js"></script>
    <script src="../bower_components/angular-contenteditable/angular-contenteditable.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,src}) scripts/app.js -->
    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/common/service-resources/resource.service.js"></script>
    <script src="app/common/service-resources/post.resource.js"></script>
    <script src="app/common/service-resources/category.resource.js"></script>
    <script src="app/common/service-modal/modal.service.js"></script>
    <script src="app/common/service-authentication/tokenInjector.module.js"></script>
    <script src="app/common/service-authentication/sessionStorage.service.js"></script>
    <script src="app/common/service-authentication/session.service.js"></script>
    <script src="app/common/service-authentication/routeChangeInterceptor.module.js"></script>
    <script src="app/common/service-authentication/httpInterceptor.module.js"></script>
    <script src="app/common/service-authentication/eventHandler.service.js"></script>
    <script src="app/common/service-authentication/auth_events.constant.js"></script>
    <script src="app/common/service-authentication/authInterceptor.service.js"></script>
    <script src="app/common/service-authentication/auth.service.js"></script>
    <script src="app/common/service-alert/alert.service.js"></script>
    <script src="app/common/directive-navbar/navbar.directive.js"></script>
    <script src="app/common/directive-navbar/navbar.controller.js"></script>
    <script src="app/common/directive-login-dialog/login-dialog.directive.js"></script>
    <script src="app/common/directive-confirm-click/confirm-click.directive.js"></script>
    <script src="app/common/directive-category-manager/category-manager.directive.js"></script>
    <script src="app/common/directive-category-display/category-display.directive.js"></script>
    <script src="app/components/posts/postview.controller.js"></script>
    <script src="app/components/posts/postedit.controller.js"></script>
    <script src="app/components/posts/postcreate.controller.js"></script>
    <script src="app/components/dashboard/dashboard.controller.js"></script>
    <script src="app/common/directive-pagination/pagination.directive.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/app.config.js"></script>
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
